<div class="page-wrapper">
    <!-- start header -->
    <app-header></app-header>
    <!-- end header -->
    <!-- start page container -->
    <div class="page-container">

        <app-sidebar></app-sidebar>

        <!-- start page content -->
        <div class="page-content-wrapper">
            <div class="page-content">
                
                <app-breadcrumbs></app-breadcrumbs>

                <!-- add content here -->

                <router-outlet></router-outlet>

            </div>
        </div>
        <!-- end page content -->
    <!-- end page container -->
    </div>
    <app-footer></app-footer>
</div>